<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
	<div class="main">
		<div class="header">
            <h1 style="margin:0 auto">Kanban ploča</h1>
		</div>
		<div class="lists">
			<div class="list">
                <h1> BACKLOG </h1>
				<div class="list-item" draggable="true">List item 1</div>
				<div class="list-item" draggable="true">List item 2</div>
				<div class="list-item" draggable="true">List item 3</div>
			</div>
			<div class="list">
                <h1> RAZVIJANJE </h1>
            </div>
            <div class="list">
                <h1> ISPITIVANJE </h1>
            </div>
            <div class="list">
                <h1> ZAVRŠENO </h1>
            </div>
		</div>
	</div>
	<script src="kanban.js"></script>
</body>
</html>